.alertas-table {
    width: 100%;

    tr {
        margin-bottom: 7px;
        display: block;
        &:first-child td {
            color: $azul_oscuro;
            font-family: "GothamMedium";
        }

        td {
            color: #666;
            font-size: 14px;
            display: block;

            &:first-child {
                color: $azul_oscuro; 
            }

            span {
                color: red;
            }
        }
    }
}

@media(min-width: 768px) {
    .alertas-table {
        width: 550px; 
        display: inline-block !important;

        tr {
            display: table-row;

            td {
                display: table-cell;
                padding-bottom: 7px;
                font-size: 16px;

                &:first-child {
                    width: 130px;
                    padding-right: 30px;
                }
            }
        }
    }
}



.bloque{
    display: none !important
}

.alertas__agregar-email-container{
    position: relative;
}

.alertas__agregar-email-modal, .alertas__agregar-telefono-modal{
    background: $azul_oscuro;
    display: none;
    padding: 20px;
    position: absolute;
    z-index: 2;
    top: -3px;

}
.alertas__agregar-email-title, .alertas__agregar-telefono-title{
    color: white
}

.alertas__agregar-email-input{
    display: inline-block;
    width: 250px;
    height: 37px;
    padding-left: 5px;
    padding-right: 5px;
    outline: 0;
    border: none;
    background: white;
    vertical-align: top;
}

.alertas__agregar-telefono-input{
    display: inline-block;
    width: 150px;
    height: 37px;
    padding-left: 5px;
    padding-right: 5px;
    outline: 0;
    border: none;
    background: white;
    vertical-align: top;
}

.alertas__agregar-email-btn, .alertas__agregar-telefono-btn{
    display: inline-block;
    background: #039be5;
    font-size: 1rem;
    color: $azul_oscuro;
    padding: 10px 15px;
    font-size: 12px;
    font-family: "GothamMedium";
    overflow: hidden;
    margin-left: -5px;
}

.alertas__agregar-email-anular, .alertas__agregar-telefono-anular{
    display: block;
    text-align: right;
    color: red;
    padding-right: 20px;
    text-decoration: underline;
    font-size: 12px;
    margin-top: 10px;
}

.overlay-diners{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.3);
    z-index: 1;
}



.alertas-table__edit, .alertas-table__edit-telefono{
    color: #00AEEF;
    font-size: 24px;
    position: relative;
    top: 3px;
    margin-left: 7px;
}

.alertas-table__adicional-email, .alertas-table__adicional-telefono{
    display: inline;
    position: relative;
    top: -3px
}

.alertas-fechas-container{
    margin-bottom: 50px;
}

.alertas-fechas__switch{
    margin-right: 20px
}

.alertas-fechas__calendario-container{
    margin-right: 20px;  
}

.alertas-fechas__calendario-title{
    color: $azul_oscuro;
    margin-right: 5px;
    font-family: "GothamMedium"
}

.alertas-fechas__calendario-input{
    width: 95px;
    border-radius: 3px;
    border: solid 1px #646473;
    height: 30px;
    padding-left: 7px;
    outline: 0;
    font-size: 13px;
    font-family: "GothamMedium"
}



.dp-fecha1, .dp-fecha2{
    cursor: pointer
}


.alertas-tables-contenedor{
    overflow-x: auto;
}

.alertas-tables{
    width: 970px;
    thead{
        tr{
            th{
                padding: 10px 5px;
                text-align: center;
                color: $azul_oscuro;
                font-family: "GothamMedium";
                &:first-child, &:nth-child(2){
                    text-align: left;
                }
            }

        }
    }

    tbody{
        tr{
            td{
                padding: 10px 5px;
                text-align: center;
                border-bottom: solid 1px #CCC;
                &:first-child, &:nth-child(2){
                    text-align: left;
                }

                &:first-child{
                    font-family: "GothamMedium";
                }
            }
        }
    }


    [type="checkbox"] + label{
        position: relative;
        top: 8px;
    }
}

@media(min-width: 992px){
    .alertas-tables{
        width: 100%;
    }
}

.input-field.detalle{
    width: 130px;
    margin: 0;
}

.reclamos_button{
    .btn-celeste{
        display: block;
    }
}

#alertas{
    .mis-datos__section-table{
        tr{
            td{
                vertical-align: top;
                &:first-child{
                    width: 240px;
                }
            }
        }
    }
    .alerta-lista{
        padding-left: 20px;
        margin-bottom: 20px;
        li{
            list-style-type: disc
        }
    } 
}



.formReclamos{
    .mis-datos__section-table{
        tr{
            td{
                vertical-align: top;
                position: relative;
            }
        }
    }
}

.input-absolute{
    position: relative;
    top: 0;
    margin-bottom: 20px;
    .mis-datos__section-input, label{
        display: inline-block !important;
    }
}

@media(min-width:992px){  
    .input-absolute{
        position: absolute;
        top: 0;
        right: -210px;
        .mis-datos__section-input, label{
            display: inline-block !important;
        }
    }
}









