
/** --- ESTILOS DE VARIBLES ---*/


/** -----COLORES----- **/
/*$amarillo:			#FFD369;
$amarillo_texto:	#FFD872;
$amarillo_oscuro: 	#E5BC5D;
$amarillo_mostaza: 	#F3AC0E;
$amarillo_alerta: 	#F9FAC7;
$amarillo_claro: 	#FEFAC4;
$azul:				#0062AE;	
$azul_claro:		#58AFFF;	
	
$azul_popover:		#006DD9;
$azul_menu_mobile:	#006DD9;
$azul_alerta:		#0071DD;
*/

$azul_menu_btn:	    #006DD9;
$azul_oscuro:		#08326C;
$azul_pasos:        #477197;
$azul:              #0255A1;

$azul_teclado:      #00ACED;
$plomo_teclado:     #EAEAEA;
$plomo_oscuro_teclado:  #E1E1E1;
$celeste:           #DFE8F4;
$celeste_oscuro:    #3398DA;
$gris_oscuro_teclado:	#646472;

$darkblue:          #002554;
$dinersclubblue:    #004C97;
$darkgray:          #293033;
$links:             #2477AB;
$backgroundblue:    #477196;
$textblue:          #00AEEF;

$text_titulo_sub:   #6899C4;
$text-avisos:       #0155A0;

$blanco:            #FFFFFF;

$negro:             #000000;

$naranjaclaro:      #FFDD00;
$naranja:           #FF5232;

$gris:              #DDDDDD;
$grisclaro:         #F7F8FA;

$plomo:             #CCCCCC;
$plomo_claro:       #EEEEEE;
$plomo_oscuro:      #999999;

$rojo:				#FF7373;
$rojo_oscuro:		#FF0000;

$turquesa:          #CBEFFB;

$verde:				#85B200;
$verde_claro:		#F9FAC7;
$verde_trasparente: #E6F0CD;



/** ----- FUENTES ----- **/

$latolight:     'latolight';
$latoregular:   'latoregular';

$gothamlight:     'GothamLight';
$gothammedium:   'GothamMedium';

$georgia:   'Georgia';

/** ----- FUENTES ----- **/
$bold:      'latobold';
$light:     'latolight';
$italic:    'latolight_italic';
$medium:    'latomedium';
$regular:   'latoregular';
$thin:      'latothin';
